@font-face{
	font-family: 'Latolight';
	src:url(../font/Lato/Lato-Light.ttf)format('woff');
}
@media only screen and (max-width: 1024px) and (min-width:768px ){
	.program_development ,.marketing,.merchant_benefits{

		background-position:90% 75% !important;
	}
	.business_area{
		background-position:top 50% !important;
	}
	.wcc_business{
		background-position:60% center !important;
	}
	.container{
		width: 100% !important;
	}
	.nav-right ul li{
		padding-left: 20px !important;
	}

}
@media only screen and (max-width: 768px) and (min-width:320px ){
	.col-x-6{
		padding:0px;
		width: 50% !important;
	}
	.col-x-12{
		padding:0px;
		width: 100% !important;
	}
	.container{
		width: 100% !important;
	}
	header{
		background-position: center center;
		background-image: url('../images/img_mobile/wwc mobile-02.jpg') !important;

	}
	#item_1 p{
		font-size: 14px !important;
	}
	#item_1 h1{
		font-size: 25px !important;
		letter-spacing:2px !important;
	}
	nav{
		display: table;
		padding:5px 0px 10px 0px!important;
		transition: 0.5s;
	}
	nav .menu{
		padding:5px 0px !important;
		background-color: black;
	}
	header nav .detail{
		display: none;
	}
	header nav .logo{
		padding:10px 0px;
		float:none !important;
	}
	header nav .nav-right ul li,footer .nav-right ul li{
		padding-left:10px !important;
		padding-top: 5px 0px;
	
		display: inline-block;
		/*padding:0px 10px !important;*/
	}
	nav .language a{
		top:20%;
		right:0px;
		padding-right: 15px !important;
		position: absolute;
		padding-left: 0px !important
	}
	.nav-right ul{
		display: table-cell;
		vertical-align: middle;
		
	}
	.nav-right ul li{
		float:left !important;
	}
	.nav-right ul li:first-child{
		padding-left:0px !important;
	}
	.nav-right ul li a{
		padding:2px 0px !important;
		letter-spacing:0px !important;
		font-size: 12px !important;
	}
	header .infor .infor_item{
		text-align: center !important;
	}

	.about_us{
		display: block !important;
		min-height: 1100px !important;
		background-image: url('../images/img_mobile/wwc mobile-03.jpg') !important;
		
	}
	.about_us .infor__item{
		background-color: #00000099;
		position: absolute;
		bottom: 0px;
	}

	hr{
		margin-bottom: 20px !important;
	}
	.infor__item h1{
		padding-top: 30px !important;
	}
	/*infor*/
	.infor p{
		margin-top:10px;
	}
	.infor h2{
		text-align: center;
		margin-bottom: 0px !important;
		font-size: 30px !important;
	}

	.infor h3 {
		text-align: center !important;
		font-size: 22px !important;
	}
	.business_area{
		background-image:url('../images/img_mobile/wwc mobile-04.jpg') !important;
		min-height: 900px !important;
		background-position:50% 50%;
	}
	.business_area .infor__item,.vision_company .infor__item{
		position: absolute;
		bottom: 0px;
	}
	.program_development{
		margin-top:20px;
		background-position:bottom center;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-05.jpg') !important;
		min-height: 700px !important;
	}
	.program_development .infor__item,.marketing .infor__item{
		position: absolute;
		top: 50px;
	}
	.marketing{
		background-position:bottom center;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-06.jpg') !important;
		min-height: 700px !important;
	}
	.wcc_business{
		background-position:top center;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-07.jpg') !important;
		min-height:1200px !important;
	}
	.membership ul{
		padding-right: 0px !important;
		padding-top: 400px !important;
	}
	.membership h4{
		font-size: 14px !important;
		margin-bottom: 30px !important;
		letter-spacing: 1px !important;
	}
	.wcc_business .membership ul li{
		height: 85px !important;
		margin:20px 0px !important;
	}
	.wcc_business .membership ul li a{
		font-size:14px !important;

	}
	.merchant_benefits{
		background-position:bottom center;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-08.jpg') !important;
		min-height: 700px !important;
	}
	.schedule{
	  	background-position:60% center !important;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-09.jpg') !important;
		min-height: 1100px !important;
	}
	.container_time{
		margin-bottom: 25px !important;
	}
	.schedule .timeline{
		margin-top: 350px;
	}
	.vision_company{
		background-position:top center !important;
		display: block !important;
		background-image:url('../images/img_mobile/wwc mobile-10.jpg') !important;
		min-height: 700px;
	}
	.img-responsive{
		margin-left:0px !important;
	}
	.content_company{
		
		padding-top:85%;
	}
	.content_company p{
		margin:20px 0px !important;
	}
	
	.nav-footer ul li{
		display:flexbox !important;
	
	}
	.nav-footer ul li{
		margin-left:0px !important;
		padding:0px 10px;
	}
	footer p{
		margin-top:100px !important;
	}



}

*{
	margin:0px;
	padding:0px;
}
body{
	font-family: 'Lato', sans-serif;
	background-color: black;
}

.col-6{
	width: 50%;
	float:left;
}
.col-5{
	width: 41.66%;
	float:left;
}

.container{
		width: 1200px;
		margin:0px auto;
}
header{
	width: 100%;
	position: relative;
	background-image: url('../images/banner.png');
  	background-repeat: no-repeat;
  	background-size: cover;
  	min-height: 700px;
  
	
}
/*nav*/
nav{
	padding-top:70px;
	width: 100%;
	height: auto;
	position: fixed;
	display: inline;
	z-index: 1000;
	transition: 0.5s;

}
.menu{
	padding:10px 0px;
	background-color: black;
}
.logo{

	margin-right:10px;
	float:left;
}
nav .language a{
	color:#696870;
	padding:10px 0px 0px 40px;
	float:right;
}

.nav-right{
	float:right;
}
.nav-right ul li{
	
	top:0px;
	left:0px;
	padding-left:40px;
	float:left;
	display: inline-block;
	
}
.nav-right ul li a{
	padding: 10px 0px;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 2px;
	color:#696870;
	text-decoration: none;
}

.nav-right ul li a img{
	padding-left:5px;
}
.nav-right ul .active a{
	color:white;
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #1c60ff 0%, #4b28a9 100%);
    border-image-slice: 1;
}
.infor{
	padding:20px 0px;
	left:0px;
	right:0px;
	position: absolute;
	bottom:0px;
	background-color:rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 33%;
	display: table;

}
.infor h2{
	font-size: 39px;
	padding-right:3%;
	font-weight: 600;
	color:white;
}
.infor h3{
	padding-right: 4%;
	font-size: 2.5rem;
	color:#1665fe;
	
}
.infor h3 a{
	text-decoration: none;
	padding-bottom:20px;
	 border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #103e9e 0%, #4b28a9 100%);
    border-image-slice: 1;
}
.infor p{
	font-family: 'Latolight';
	text-align: justify;
	font-size: 16px;
	color:white;
	opacity: 0.7;
}

.infor .text-justify{
	margin-top:20px;
}
/*endnav*/
/*about us*/
.about_us,.business_area,.wcc_business,.vision_company{
	
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;	
	display: table;
}
.about_us{
	min-height: 800px;
	margin-top: 50px;
	background-image:url('../images/2-02.jpg');
}
.infor__item{
	display: table-cell;
	vertical-align: middle;
}
/*and about us*/
.business_area{
	background-position:50% 50%;
	min-height: 743px;
	margin-top: 50px;
	background-image:url('../images/3-02.jpg');
}
.program_development,.marketing,.merchant_benefits,.schedule,.vision_company{
	background-position:50% 50%;
	background-repeat: no-repeat;
	width: 100%;	
	background-size: cover;
	display: table;
}
.program_development{
	
	min-height: 655px;
	background-image:url('../images/4-02.jpg');
}
.marketing{

	min-height: 670px;
	background-image:url('../images/5-02.jpg');
}
.wcc_business{
	min-height: 760px;
	padding:100px 0px;
	background-image:url('../images/7.3.png');

}
.membership{
	position: absolute;
	width: 100%;
	margin-top:40px;
	text-transform:uppercase;
}
.membership h4{
	letter-spacing: 3px;
	margin-bottom: 60px;
	color:white;
}
.membership ul{
	width: 100%;
	padding-right:20px;
	display: table;
}
.membership ul li{
	padding:5px 0px;
	position: relative;
	list-style: none
	width: 100%;
	height: 78px;
	background-color: #26272a;
	color:white;
	margin:40px 0px;
	border-radius: 15px;
	display: block;
}
.membership ul li a{

	top:25%;
	font-size: 18px !important;
	position: absolute;
	text-transform: uppercase;
	text-decoration: none;
	margin-left:10%;
	
}
.membership ul li img{
	
	display: flexbox;
}

#item_1 h1{

	width: 100%;
	font-size: 30px;
	font-family: Latolight;
	text-transform:uppercase;
	margin:0px 0px 30px 0px !important;
	letter-spacing: 5px;
    color:white;
}
#item_1 p{
	font-size: 17px;
	font-family: Latolight;
	color:#aaabad;
}

hr{
	 background-image: linear-gradient(90deg, #1c60ff 0%, #4b28a9 100%);
	 margin-bottom: 13%;
	 width: 80%;
	 height: 3px;
	 background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 1px solid transparent;
}
.merchant_benefits{
	min-height: 750px;
	background-image:url('../images/7.1-02.jpg');
}
.merchant_benefits p,.schedule p{
	color:white;
}
.schedule{

	position: relative;
	width: 100%;
	color:white;
	max-height: 1150px;
	background-image:url('../images/7.2-03.jpg');
	
}
.schedule_content{
	margin-top :40px;
}
.schedule h4{
	color:white;
	opacity: 1 !important;
}
/*timeline*/
.timeline {
position: relative;
  max-width: 800px;
  margin: 40px auto;
}
.timeline::after {

  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: blue;
  top: 0;
  bottom: 0;
}
.container_time {
	
 color:black;
  padding: 10px 0px 0px 10px;
  margin-bottom: 45px;
  position: relative;
  background-color: inherit;
  width: 100%;
}
.container_time p{
	font-size: 15px !important;
	color:black;
}
.container_time::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 2px solid #0c42af;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
.right::after {
  left: -8px;
}
.content {
height: 150px;
color:white;
  padding: 10px;
  background-color:#282a33;
  position: relative;
  border-radius: 6px;
}
.content p{
	font-size: 13px;
	color:white;
}
  .container_time {
  width: 100%;
  padding-left: 30px;
  margin-right: -20px;
  
  }
  .left::after, .right::after {
	
  }
  .right {
  left: 0%;
  }

.vision_company{
	color:white;
	padding:50px 0px;
	min-height:700px;
	background-image:url('../images/8.1.png');
}

.content_company {
	margin-top:15%;
	
}
.content_company p{
	margin-top:-50px;
}
footer{
	min-height: 350px;
	padding:85px 0px 20px 0px;
	background-color: black;

}
footer form input,button{
	width: 100%;
	display: block;
	border-radius: 15px;
     padding: 20px 50px;


} 
footer input[type="text"]{
	font-size: 24px;
	 position: relative;
    border: 2px solid transparent;
    border-radius: 15px;
    background-clip: padding-box;
    background-image:linear-gradient(black, black), radial-gradient(#1c60ff,#4b28a9 );
    /* just to show box-shadow still works fine */
     background-origin: border-box;
    background-clip: padding-box, border-box;
}
footer form button{
	color:white;
	margin:35px 0px;
	font-size:24px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #1c60ff 0%, #4b28a9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

footer .nav-right ul li{
	margin-bottom: 40px;


}
.nav-footer ul{
	float:right;
	right:0px;
}
.nav-footer ul li{
	display: inline-block;
}
.nav-footer ul li{
	margin-left:50px;
}
footer p{
	font-size: 12px;
	font-family: 'Latolight';
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top:200px;
	padding:25px;
	background-color: #02050f;
	color:#a4a5a6;
}